.categories {
	display: flex;
	height: 80vh;
	gap: 10px;
	margin: 10px;
	text-transform: uppercase;
	overflow: hidden;
	.col {
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	.col-big {
		flex: 2;
	}
	.row {
		flex: 1;
		display: flex;
		gap: 10px;
		position: relative;
		overflow: hidden;
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
		button {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			min-width: 100px;
			width: fit-content;
			height: 30px;
			z-index: 2;
			cursor: pointer;
			background-color: white;
			color: black;
			font-weight: bold;
			padding: 5px;
			border: none;
			opacity: 1;
			text-transform: uppercase;
		}
	}
}
