.slider {
	margin-top: 0px;
	height: calc(100vh - 80px);
	overflow: hidden;
	.container {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100vw;
		height: 100%;
		img {
			width: 100vw;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
}
