.contact {
	height: 60px;
	width: 100vw;
	background-color: #2f2f2f;
	text-transform: uppercase;
	color: white;
	padding: 15px;
	display: flex;
	justify-content: center;
	.wrapper {
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		input {
			padding: 8px;
			border: none;
			outline: none;
			background-color: #efefef;
		}
		.icons {
			display: flex;
			gap: 10px;
		}
	}
	@media (max-width: 768px) {
		height: auto;
		.wrapper {
			flex-direction: column;
			gap: 10px;
		}
	}
}
